In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [54]:
data = pd.read_excel('/content/Travel_Destination.xlsx')

In [55]:
data.head()

                                                Text    Label
0  I want to travel from Bangalore to Delhi on Mo...  One Way
1  I want to travel to Delhi from Bangalore on We...  One Way
2  I want to travel to Delhi from Kolkata on Wedn...   Return
3  I want to travel to Delhi on Monday and return...   Return
4  I want to travel to Delhi on Wednesday Morning...   Return

In [56]:
X = data["Text"]
Y = data["Label"]

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(binary=True)
X = cv.fit_transform(X)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [59]:
travel_model = LogisticRegression(solver='liblinear')
travel_model.fit(X_train, y_train)
pred = travel_model.predict(X_test)
accuracy_score(y_test,pred)

1.0

In [70]:
msg = cv.transform(["I want to return to delhi on Monday"])
msg

<1x27 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [71]:
prediction = travel_model.predict(msg)

In [72]:
prediction

array(['Return'], dtype=object)

In [73]:
import pickle

In [75]:
filename = 'final_model.sav'
pickle.dump(travel_model, open(filename, 'wb'))

In [76]:
load_model = pickle.load(open(filename, 'rb'))

In [77]:
msg = cv.transform(["I want to return to delhi on Monday"])
msg

<1x27 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [78]:
predict = load_model.predict(msg)

In [79]:
predict

array(['Return'], dtype=object)