In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
data = pd.read_csv("/content/function_assignment.csv")

In [3]:
data.head()

                                          function  ...                                                jds
0  Sales/ Business Development/ Account Management  ...                                                NaN
1                       IT/ Information Technology  ...  10-15 years of experience in a VFX facility Ad...
2                            Software Architecting  ...  Candidate Should have Strong OO design and pro...
3                            Software Architecting  ...  Job Description Must have at -least . Years ex...
4                            Software Architecting  ...  Develop ASP.netweb applicationsPerform unit te...

[5 rows x 3 columns]

In [4]:
#Checking which fields contain empty values
pd.isnull(data).sum()

function        0
job_title       0
jds          1796
dtype: int64

In [5]:
data.count()

function     10145
job_title    10145
jds           8349
dtype: int64

In [6]:
df = data.drop('function', axis = 1)
df = df.dropna()
df = df[df['jds'].str.len() > 20]
df.head(n=10)

                             job_title                                                jds
1                        Software Head  10-15 years of experience in a VFX facility Ad...
2                    iPhone Developers  Candidate Should have Strong OO design and pro...
3               Html/css Developer Job  Job Description Must have at -least . Years ex...
4                Asp.net Developer Job  Develop ASP.netweb applicationsPerform unit te...
6                  AS\400 Professional  Job Description  Job holder may need to work o...
8   Inside Sales Account Manager - MNC  Job Description  Primary roe of Inside sales A...
9                 VFX Artist/ Designer  Reporting to: Design Leader  PURPOSE: To conve...
10                   Graphics Engineer  Role : Graphics Software Engineer  Education :...
13                        UI Developer                            Job Title: UI Developer
14     Unity3D Developer - iOS/Android  Looking for an Unity3D Developer who will be w...

In [7]:
df.describe()

                           job_title                                                jds
count                           8347                                               8347
unique                          5975                                               6844
top     Business Development Manager  Managing the team of Branch Managers, ABM, Sal...
freq                              36                                                 24

In [8]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.preprocessing import LabelEncoder

In [9]:
X = df["jds"]
y = df["job_title"]

tfidf = TfidfVectorizer()
features = tfidf.fit_transform(df["jds"])
labels = df["job_title"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(features,labels,test_size=0.20, random_state=42)

In [11]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 20)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
y_pred = classifier.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.25269461077844313